ul {
    padding: 0;
    margin: 0;
}

li {
    
    list-style-type: none;
}

a {
    color: goldenrod;
    text-decoration: none;
}

.menu {
    position: fixed;
    width: 80px;
}

.menuButton {
    font-weight: 800;
    background-color: goldenrod;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
}

.menuButton.straightenBtmEdge {
    border-radius: 2px 2px 0 0;
}

.menuButton:hover {
    cursor: pointer;
    background-color: rgb(217, 169, 48);
}

.menuItem {
    display: block;
    position: relative;
    color: goldenrod;
    text-align: center;
}

.menu>li {
    height: 20px;
}

.menuItem.hidden {
    display: none;
}

.menuItem:nth-child(odd) {
    background-color: rgb(20, 20, 20);
}

.menuItem:nth-child(even) {
    background-color: black;
}

.menuItem:hover {
    cursor: pointer;
    background-color: rgb(42, 42, 42);
    font-weight: 800;
}

.menuItem:last-child {
    border-radius: 0 0 10px 10px;
}